#header{
    background-color: rgb(79, 143, 238);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi', cursive; 
}

#nameAndTitle{
    background-color: white;
    width: 500px;
    margin:0 auto;
    text-align: center;
}

#nameAndTitle h1,h2{ 
    margin: 0;
}

h1,h2,h3{
    text-transform: uppercase;
}

#contact{
    list-style-type: none;
}

#contact i{
   width: 30px; 
   color: rgb(79, 143, 238);
}

.fdp{
    display:grid;
    grid-template-columns:30% auto;
    grid-column-gap: 20px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

#sidebar, #content{
    display:flex;  
    flex-direction: column;
    row-gap: 20px;          
}

.card h3{
    font-family: 'Hubballi', cursive;
}

.card{
    font-family: Montserrat;
    border: 1px solid rgb(207, 204, 204);
    border-radius: 15px;
    padding: 20px;
}
@media screen and (max-width:1024px){
    
    #header{
        background-color: rgb(79, 143, 238);
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Hubballi', cursive; 
        text-align: center;
    }
    
    #nameAndTitle{
        background-color: white;
        width: 250px;
        height: 70px;
        margin:0 auto;
        text-align: center;
    }
    
    #nameAndTitle h1,h2{ 
        margin: 0;
    }
    
    h1,h2,h3{
        text-transform: uppercase;
        font-size: 20px;
        padding-left: 20px;
    }

    #header h1 {
        font-size: 18px;
        padding-top:12px ;
        padding-left: 0;
        padding-right:0;
    }
    #header h2{
        padding-top: 5px;
        font-size: 15px ;
        padding-left: 0;
        padding-right:0;
        text-transform:inherit;
    }

    .fdp{
        display: flex;
        flex-direction: column;

    }
    #sidebar, #content{
        display:flex;  
        flex-direction: column;
        row-gap: 20px; 
        padding-bottom: 20px;         
    }
    
    .card h3{
        font-family: 'Hubballi', cursive;
    }
    
    .card{
        font-family: Montserrat;
        border: 1px solid rgb(207, 204, 204);
        border-radius: 15px;
        padding: 10px;
    }
}